@import "tailwindcss";
/* global.css */
::-webkit-scrollbar{
  visibility: hidden;
}

html {
  scroll-behavior: smooth;
  
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.anim1{
transition: all  4s ease-in-out;
}